.Poster {
  display: none;
  width: 275px;
  flex-shrink: 0;
  margin-right: 3rem;
}

.Poster-img {
  max-width: 100%;
  border-radius: 2px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .Poster {
    display: block;
  }
}
