.Poster {
  display: none;
}

.Poster-img {
  display: block;
  max-width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .Poster {
    display: block;
  }
}
