.Poster {
  width: 175px;
  height: 262.5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .Poster {
    width: 250px;
    height: 375px;
  }
}
