.Spacer {
  outline: none;
  border: none;
  background: linear-gradient(
    90deg,
    var(--background-primary-dark) 30%,
    var(--brand-primary) 50%,
    var(--background-primary-dark) 70%
  );
  height: 2px;
  margin: 4rem 0 3rem;
}
