.HeaderLayout {
  position: relative;
  width: 100%;
  padding: 3rem;
  background-color: transparent;
  z-index: 5000;
}

@media screen and (min-width: 768px) {
  .HeaderLayout {
    display: grid;
    grid-template-columns: 300px auto;
    padding: 3rem 6rem;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 1266px) {
  .HeaderLayout {
    padding: 3rem 9rem;
  }
}

@media screen and (min-width: 1502px) {
  .HeaderLayout {
    padding: 3rem 10%;
  }
}
