.Rating {
  display: flex;
  align-items: center;
  margin: 0 0 1.6rem;
}

.Rating-average {
  margin-right: 0.8rem;
  padding: 0.6rem 0.8rem;
  border: 3px solid #64b4f6;
  border-radius: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #64b4f6;
}

.Rating-count {
  color: lightgray;
  font-style: italic;
  font-size: 1.4rem;
  font-weight: 200;
}
