.ContentCard {
  display: block;
  flex-shrink: 0;
  width: 250px;
  min-width: 250px;
  min-height: 375px;
  margin: 0 1rem;
  overflow: hidden;
  cursor: pointer;
}

.ContentCard-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.ContentCard-inner::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(transparent, rgba(27, 38, 49, 0.9));
  top: 0rem;
  right: 0rem;
  left: 0rem;
  bottom: 0rem;
  border-radius: 2px;
  z-index: 50;
}

.ContentCard-inner::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(transparent, rgba(100, 180, 246, 0.3));
  top: 0rem;
  right: 0rem;
  left: 0rem;
  bottom: 0rem;
  border-radius: 2px;
  z-index: 60;
  opacity: 0;
}

.ContentCard:hover .ContentCard-inner::before {
  opacity: 1;
}
.ContentCard:hover .ContentCard-inner::after {
  opacity: 0.5;
}

.ContentCard:first-child {
  margin-left: 0;
}

.ContentCard:last-child {
  margin-right: 0;
}

.ContentCard-img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.ContentCard-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 1.5rem 1.5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: 500;
  z-index: 100;
}
