.ResponsiveContainer {
  padding: 3rem;
  flex: 1;
}

@media screen and (min-width: 768px) {
  .ResponsiveContainer {
    padding: 3rem 6rem;
  }
}

@media screen and (min-width: 1440px) {
  .ResponsiveContainer {
    padding: 3rem 9rem;
  }
}
