.Section {
  width: 100%;
  padding: 3rem;
}

@media screen and (min-width: 766px) {
  .Section {
    padding: 3rem 6rem;
  }
}

@media screen and (min-width: 1266px) {
  .Section {
    padding: 3rem 9rem;
  }
}

@media screen and (min-width: 1502px) {
  .Section {
    padding: 3rem 10%;
  }
}
