.ErrorScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ErrorScreen-box {
  padding: 3rem;
  max-width: 60%;
  text-align: center;
  background-color: var(--background-secondary);
  border-radius: 2px;
}
