.Summary {
  display: grid;
  gap: 2rem;
}

.Summary-side {
  display: flex;
  align-items: flex-end;
}

.Summary-tagline {
  color: var(--text-secondary);
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
  font-style: italic;
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .Summary {
    grid-template-columns: 250px auto;
    gap: 3rem;
  }

  .Summary-main {
    margin-top: 3rem;
  }
}
