.Icon {
  display: inline-block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--background-primary-light);
  transition: color 200ms ease;
}

.Icon-secondary {
  color: var(--brand-secondary);
}

.Icon-hover:hover {
  color: var(--brand-secondary);
  transition: color 200ms ease;
}
