.Backdrop {
  position: relative;
  height: 400px;
}

.Backdrop-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Backdrop-button-wrap {
  margin: 0 auto;
  max-width: 144rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 3rem;
  z-index: 10;
}

.Backdrop::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-image: linear-gradient(transparent, var(--background-secondary));
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .Backdrop {
    height: 500px;
  }

  /* .Backdrop-button-wrap {
    padding: 0 6rem;
  } */
}

@media screen and (min-width: 1440px) {
  .Backdrop {
    height: 600px;
  }

  /* .Backdrop-button-wrap {
    padding: 0 9rem;
  } */
}
