.Backdrop-inner {
  height: 700px;
  width: 100%;
  position: relative;
}

.Backdrop-inner::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(transparent, #212f3d);
  /* background-image: linear-gradient(transparent, rgba(100, 180, 246, 0.8)); */
  top: 0rem;
  right: 0rem;
  left: 0rem;
  bottom: 0rem;
  z-index: 50;
}

.Backdrop-img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
