.CarouselCard {
  position: relative;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 300ms;
  animation-delay: 200ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.CarouselCard::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(transparent, rgba(28, 40, 51, 0.8));
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  z-index: 50;
}

.CarouselCard::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(transparent, rgba(100, 180, 246, 0.3));
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  z-index: 100;
  opacity: 0;
  transition: opacity 300ms ease;
}

.CarouselCard:hover::before {
  opacity: 1;
}

.CarouselCard-img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
  z-index: 0;
  border-radius: 2px;
}

.CarouselCard-title {
  position: absolute;
  text-align: left;
  margin-bottom: 0;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  bottom: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
  z-index: 200;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
