.CarouselContainer {
  opacity: 0;
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 300ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

.CarouselContainer-error {
  display: inline-block;
  background-color: rgba(231, 77, 60, 0.1);
  border-radius: 3px;
  border-left: 4px solid rgb(231, 76, 60);
  padding: 2rem;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
