.container {
  width: 100%;
  margin: 0 auto;
  height: 500px;
}

.carousel {
  width: 100%;
  height: 100%;
  border: 2px solid orange;
  display: flex;
  justify-content: flex-start;
}

.track {
  border: 2px solid green;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 400%;
  transition: transform 1s ease;
}

.item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
