.Cast-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.Cast-error {
  display: inline-block;
  background-color: rgba(231, 77, 60, 0.1);
  border-radius: 3px;
  border-left: 4px solid rgb(231, 76, 60);
  padding: 2rem;
}

/* @media screen and (min-width: 1024px) {
  .Cast-grid {
    grid-template-columns: repeat(auto-fill, 150px);
  }
} */
