.Content {
  position: relative;
}

.Content-grid {
  position: absolute;
  top: 200px;
  width: 100%;
  padding: 0 3rem 3rem;
  z-index: 100;
  display: grid;
  gap: 2rem;
}

/* Tablet 768px */
@media screen and (min-width: 768px) {
  .Content-grid {
    padding: 0 6rem 3rem;
    gap: 3rem;
  }
}

/* Desktop 1028px */
@media screen and (min-width: 1024px) {
  .Content-grid {
    padding: 0 10% 3rem;
    grid-template-columns: 25% auto;
  }
}

/* Desktop large 1266px */
@media screen and (min-width: 1266px) {
  .Content-grid {
    top: 250px;
    padding: 0 15% 3rem;
    gap: 4rem;
  }
}
