.Crew {
  margin: 1.6rem 0;
}

.Crew-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.Crew-name {
  font-weight: 400;
}

.Crew-job {
  font-size: 1.4rem;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .Crew-grid {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}
