.Crew {
  margin: 1.6rem 0;
}

.Crew-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
}

.Crew-name {
  font-weight: 400;
}

.Crew-job {
  font-size: 1.4rem;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .Crew-grid {
    grid-template-columns: repeat(auto-fill, 150px);
  }
}
