.Details-main {
  position: relative;
  transform: translateY(-60px);
  z-index: 100;
}

.Details-header {
  width: 100%;
  padding: 0 3rem 3rem;
}

.Details-header-poster {
  display: none;
}

.Details-cast {
  width: 100%;
  padding: 3rem;
  background-color: #1b2631;
}

.Details-reviews {
  width: 100%;
  padding: 3rem;
}

.Details-hr {
  outline: none;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 10%,
    rgba(100, 180, 246, 1) 50%,
    rgba(250, 255, 255, 0) 90%
  );
  height: 2px;
}

@media screen and (min-width: 768px) {
  .Details-main {
    transform: translateY(-90px);
  }
  .Details-header {
    display: grid;
    grid-template-columns: 250px auto;
    column-gap: 3rem;
  }
  .Details-header-poster {
    display: block;
    grid-column: 1 / 2;
  }
  .Details-header-main {
    grid-column: 2 / 3;
  }
}

@media screen and (min-width: 1024px) {
  .Details-header {
    padding: 0 6rem 4rem;
  }
  .Details-cast {
    padding: 4rem 6rem;
  }
  .Details-reviews {
    padding: 4rem 6rem;
  }
}

@media screen and (min-width: 1266px) {
  .Details-header {
    padding: 0 9rem 6rem;
    column-gap: 4rem;
  }
  .Details-cast {
    padding: 6rem 9rem;
  }
  .Details-reviews {
    padding: 6rem 9rem;
  }
}

@media screen and (min-width: 1502px) {
  .Details-header {
    padding: 0 10% 4rem;
  }
  .Details-cast {
    padding: 4rem 10%;
  }
  .Details-reviews {
    padding: 4rem 10%;
  }
}
