.Details-grid {
  display: grid;
  background-color: rgba(100, 180, 246, 0.8);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 0 0.5rem;
}

.Details-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: #212f36;
  border-bottom: 1px solid rgba(33, 47, 61, 0.2);
}

.Details-item:last-child {
  border: none;
}

.Details-key,
.Details-value {
  flex: 1;
}

.Details-key {
  color: #212f3d;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
