.Info {
  margin-bottom: 1.6rem;
}

.Info-sub {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: rgba(100, 180, 246, 1);
  color: #212f3d;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 2px;
  margin-bottom: 1.6rem;
}

.Info-sub-item {
  margin: 0;
  padding: 0.5rem;
}

.Info-tagline {
  opacity: 0.6;
  font-style: italic;
  margin: 1.6rem;
}
