.Info {
  margin-bottom: 1.6rem;
}

.Info-sub {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgba(100, 180, 246, 0.8);
  color: #212f3d;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 2px;
  margin-bottom: 1.6rem;
}

.Info-sub-item {
  margin: 0;
  padding: 0.5rem;
  justify-self: center;
  align-self: center;
  flex: 1;
}

.Info-sub-item:nth-child(2) {
  border-left: 1px solid rgba(33, 47, 61, 0.2);
  border-right: 1px solid rgba(33, 47, 61, 0.2);
}

.Info-tagline {
  opacity: 0.6;
  font-style: italic;
  margin: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .Info-sub,
  .Info-overview {
    width: 90%;
  }
}

@media screen and (min-width: 1266px) {
  .Info-sub {
    width: 80%;
  }
}
