.Info-genre {
  display: inline-block;
  background-color: rgba(100, 180, 246, 1);
  color: #212f3d;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 2px;
  margin: 0 0 1.6rem;
  padding: 0.5rem 1rem;
}

.Info-tagline {
  opacity: 0.6;
  font-style: italic;
  margin: 0 0 1.6rem;
}

.Info-overview {
  margin: 0 0 1.6rem;
}
