.Navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10rem;
  padding: 0 10%;
  background-color: #1c2833;
}

.Navbar-brand {
  margin-bottom: 0;
}

.Navbar-list {
  margin-left: 4rem;
  display: flex;
  align-items: center;
  list-style: none;
}

.Navbar-item {
  position: relative;
  cursor: pointer;
  height: 3rem;
  padding: 0 1rem;
  margin: 0 1rem;
  line-height: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.4rem;
}

.Navbar-item::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #64b5f6;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.Navbar-item:hover::after {
  transform: scaleX(1);
}
