.PersonCard {
  display: block;
}

.PersonCard-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.PersonCard-wrap::after {
  display: block;
  content: "";
  position: absolute;
  background-image: linear-gradient(transparent, rgba(28, 40, 51, 0.8));
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  z-index: 50;
}

.PersonCard-img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  min-height: 100%;
  border-radius: 2px;
}

.PersonCard-actor-wrap {
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  z-index: 200;
}

.PersonCard-character {
  margin-bottom: 0;
  font-size: 1.4rem;
  opacity: 0.6;
}
