.Showcase {
  display: block;
  width: 100%;
  padding: 3rem;
  background-color: #212f3d;
}

.Showcase-title {
  display: flex;
  align-items: center;
}

.Showcase-span {
  background-color: #64b5f6;
  color: #212f3d;
  font-size: 1.4rem;
  padding: 0.3rem 0.6rem;
  margin-left: 1rem;
  text-transform: uppercase;
  font-weight: 5400;
  letter-spacing: 1px;
  border-radius: 2px;
  display: block;
}

.Showcase-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 2rem;
}

@keyframes moveUp {
  0% {
    transform: translateY(5rem);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .Showcase {
    padding: 3rem 6rem;
  }
}

/* Desktop 1028px */
@media screen and (min-width: 1024px) {
  .Showcase {
    padding: 3rem 10%;
    grid-template-columns: repeat(auto-fill, 170px);
  }
}
