.SingleReview {
  background-color: rgba(100, 180, 246, 0.1);
  border-radius: 3px;
  border-left: 4px solid rgba(100, 180, 246, 1);
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.SingleReview-content {
  font-style: italic;
  opacity: 0.8;
}

.SingleReview-author {
  font-weight: 600;
  margin: 0 0 0.8rem;
}

.SingleReview:last-child {
  margin-bottom: 0;
}

.SingleReview-link {
  display: block;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: rgba(100, 180, 246, 1);
  align-self: flex-start;
  margin-top: 0.8rem;
  cursor: pointer;
  text-decoration: none;
}
