.Overview {
  margin: 0 0 1.2rem;
}

.Overview-title {
  margin-bottom: 0.8rem;
  font-size: 2.2rem;
}

.Overview-tagline {
  font-style: italic;
  color: lightgray;
  margin: 0 0 1.2rem;
  padding-left: 0.8rem;
}

.Overview-text {
  margin: 0 0 1.2rem;
}

@media screen and (min-width: 1024px) {
  .Overview {
    width: 80%;
  }
}
