.SectionHeader {
  padding: 1.8rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.SectionHeader-title {
  font-size: 3.6rem;
  color: inherit;
  margin-bottom: 1rem;
}

.SectionHeader-title::before {
  content: "";
  width: 20%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d6dbdf;
}

.SectionHeader-sub {
  font-size: 1.8rem;
  color: #85929e;
}

@media screen and (min-width: 766px) {
  .SectionHeader {
    text-align: left;
  }
  .SectionHeader-title::before {
    width: 15%;
    left: 0;
    transform: unset;
  }
}
