*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --text-primary-light: #ffffff;
  --text-primary-dark: #17202a;
  --text-secondary: #aeb6bf;
  --background-primary-light: #ffffff;
  --background-primary-dark: #1b2631;
  --background-secondary: #212f3c;
  --brand-primary: #66cdaa;
  --brand-secondary: #8fbc8b;

  --mobile-small: 320px;
  --mobile-medium: 375px;
  --mobile-large: 425px;
  --tablet: 768px;
  --laptop: 1024px;
  --laptop-large: 1440px;
  --desktop: 2560px;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--text-primary-light);
  background-color: var(--background-primary-dark);
}
